:root {
  --main: #7353ba;
  --second: #faa6ff;
  --third: #0f1020;
  --hover: #45da83;
}

p {
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: bold;
  color: var(--second);
}

button {
  color: rgb(255, 255, 255);
  border-radius: 3px;
  width: 50%;
  height: 15%;
  background-color: var(--hover);
  cursor: pointer;
  transition: transform 0.3s linear;
}

button:hover {
  transform: scale(1.1);
}
